*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flower{
    background: #2a3d81;
    display: inline-block;
    padding: 60px 90px;
    margin: 150px 460px;
}

.flower .circle{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #6c93cc;
    position: relative;
}

.flower .circle .petal_one{
    height: 100px;
    width: 100px;
    background: #6c93cc;
    border-radius: 80px 0;
    border: 20px solid #2a3d81;
    position: absolute;
    top: 20px;
    left: 20px;
    transform: rotate(90deg);
}
.flower .circle .petal_two{
    height: 100px;
    width: 100px;
    background: #6c93cc;
    border-radius: 80px 0;
    border: 20px solid #2a3d81;
    position: absolute;
    top: 20px;
    right: 20px;
}
.flower .circle .petal_three{
    height: 100px;
    width: 100px;
    background: #6c93cc;
    border-radius: 80px 0;
    border: 20px solid #2a3d81;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: rotate(90deg);
}
.flower .circle .petal_four{
    height: 100px;
    width: 100px;
    background: #6c93cc;
    border-radius: 80px 0;
    border: 20px solid #2a3d81;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
